@model TMD.Models.IdentityModels.ViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<link href="~/Content/Admin/pages/css/login.css" rel="stylesheet" />
<link href="~/Content/Global/componentsGlobal.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Global/css/plugins.css" rel="stylesheet" type="text/css" />

<body class="login">
    <div class="logo">
        <a href="#">
            @*<img src="~/Content/Images/logo.png" alt="logo" class="IstLogoImage" />*@
        </a>
    </div>
    <div class="menu-toggler sidebar-toggler">
    </div>
    <br />
    <div class="content">
    <section id="loginForm ">
        
       
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h3 class="form-title">Reset Password</h3>
                @Html.AntiForgeryToken()
                  <div>
                  
                    <span>
                        @Html.ValidationSummary(true,"", new { @class = "alert alert-danger" } )
                    </span>
                </div>



                                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", placeholder = "Email", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                               <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", placeholder = "New Password", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                 
                         <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", placeholder = "Confirm Password", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                
                <input type="submit" class="btn btn-large btn-info btn-login" style="margin-left: 145px" onclick="return ValidateFields();" value="Reset Password" />
                @Html.HiddenFor(model => model.Code)
            }
        
    </section>
        </div>

</body>

