@model TMD.Web.Models.EventModel
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 21;
}

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                @*<a href="javascript:;" class="collapse">
                    </a>*@

                <button type="submit" class="btn btn-circle blue" onclick="return(ValidateFields(event));">Save</button>
                <a href="~/Event/Index">
                    <button type="button" class="btn btn-circle default">Cancel</button>
                </a>
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Create/Update Event
            </div>
        </div>

        <div class="portlet-body form formMinHeight500">
            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.EventId)
                @Html.HiddenFor(m => m.RecCreatedBy)
                @Html.HiddenFor(m => m.RecCreatedDate)

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.EventDate, new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.EventDate, "{0:d}", new { @class = "form-control input-circle mandatory datepicker", placeholder = "Event Date" })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.EventDescription, new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.EventDescription, new { @class = "form-control input-circle mandatory", placeholder = "Event Description", rows=4 })
                    </div>
                </div>
            </div>

        </div>
    </div>
}


