@model TMD.Web.ViewModels.EventViewModel
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 21;
}
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.css" />
<script type="text/javascript" src="~/Scripts/plugins/select2.js"></script>
@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                @*<a href="javascript:;" class="collapse">
                    </a>*@

                <button type="submit" class="btn btn-circle blue" onclick="return(ValidateFields(event));">Save</button>
                <a href="~/Event/Index">
                    <button type="button" class="btn btn-circle default">Cancel</button>
                </a>
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Create/Update Event
            </div>
        </div>

        <div class="portlet-body form formMinHeight500">
            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.EventModel.EventId)
                @Html.HiddenFor(m => m.EventModel.RecCreatedBy)
                @Html.HiddenFor(m => m.EventModel.RecCreatedDate)

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.EventModel.EventDate, new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.EventModel.EventDate, "{0:d}", new { @class = "form-control input-circle mandatory datepicker", placeholder = "Event Date", @id="EventDate" })
                    </div>
                </div>
                
                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.EventModel.CompanyId, new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.EventModel.CompanyId, new SelectList(Model.Companies, "CompanyId", "CompanyName", Model.EventModel.CompanyId), "Select Company", new { @class = "input-large select2me mandatory", id = "CompanyId" })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.EventModel.EventDescription, new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.EventModel.EventDescription, new { @class = "form-control input-circle mandatory", placeholder = "Event Description", rows = 4 })
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#EventDate").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $('.select2me').select2({
            allowClear: false
        });
    });
</script>
