@using System.Configuration
@model TMD.Web.ViewModels.CompanyViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Register Company";
    string btnText = "Save";
    var setDiasble = "false";
    string contactType = "";
    Session["MenuKey"] = 3;
    if (Model.Company != null)
    {
        if (Model.Company.CompanyId > 0)
        {
            ViewBag.Title = "Update Company";
            btnText = "Update";
            setDiasble = "readonly";
        }
    }
}

<script src="~/Scripts/plugins/jquery.maskedinput-1.3.min.js"></script>

    @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="portlet box blue-hoki">
            <div class="portlet-title">

                <div class="tools">
                    <button type="submit" class="btn btn-circle blue" onclick="return ValidationPageFields();">@btnText</button>
                    <a href="~/Company/Index">
                        <button type="button" class="btn btn-circle default">Cancel</button>
                    </a>
                </div>
                <div class="caption">
                    <i class="fa fa-building-o"></i>@ViewBag.Title
                </div>
            </div>

            <div class="portlet-body form">


                <div class="form-body formMinHeight500">
                    <h3 class="form-section">
                        Company Details
                        <span style="font-size: 12px">@Html.CheckBoxFor(m => m.Company.IsCompany, new { @class = "form-control",@id="IsCompany" }) @Html.LabelFor(m => m.Company.IsCompany, new { @class = "control-label" })</span>
                    </h3>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Company.CompanyId)
                    @Html.HiddenFor(m => m.Company.RecCreatedBy)
                    @Html.HiddenFor(m => m.Company.RecCreatedDate)
                    @Html.HiddenFor(m => m.Company.DeletedCompanyContacts, new { @id = "DeletedCompanyContacts" })

                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Company.IsCompany, new { @class = "control-label col-md-3 requiredLabel" })
                                    <div class="col-md-9" style="padding-top: 0.8%;">
                                        @Html.CheckBoxFor(m => m.Company.IsCompany, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>*@



                    <div class="row form-group margin-top-20 individual">
                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.IndividualFirstName, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-file-o"></i>
                            @Html.TextBoxFor(m => m.Company.IndividualFirstName, new { @class = "form-control mandatoryIndividual", placeholder = "First Name" })
                        </div>
                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.IndividualLastName, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Company.IndividualLastName, new { @class = "form-control mandatoryIndividual", placeholder = "Last Name" })
                        </div>
                    </div>
                    <div class="row form-group margin-top-20">
                        <div class="individual">
                            <div class="col-md-2 textAlignRight">
                                @Html.LabelFor(m => m.Company.CompanyName, new { @class = "control-label requiredLabel" })
                            </div>
                            <div class="col-md-3 input-icon">
                                @Html.DropDownListFor(m => m.Company.BelongingCompanyId, new SelectList(Model.Companies, "CompanyId", "CompanyName", Model.Company.BelongingCompanyId), "Select your company", new { @class = "input-medium select2me mandatoryIndividual", id = "IndividualBelongsToCompany" })
                            </div>
                        </div>
                        <div class="CompanyRelatedInformation" style="display: none">
                            <div class="col-md-2 textAlignRight">
                                @Html.LabelFor(m => m.Company.CompanyName, new { @class = "control-label requiredLabel" })
                            </div>
                            <div class="col-md-3 input-icon">
                                <i class="fa fa-user"></i>
                                @Html.TextBoxFor(m => m.Company.CompanyName, new { @class = "form-control mandatoryCompany", placeholder = "Company Name" })
                            </div>
                        </div>
                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.Telephone, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Company.Telephone, new { @class = "form-control mandatory Telephone", placeholder = "Telephone" })
                        </div>
                    </div>
                    <div class="row form-group margin-top-20">
                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.Address, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Company.Address, new { @class = "form-control mandatory", placeholder = "Address" })
                        </div>

                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.Fax, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Company.Fax, new { @class = "form-control mandatory Telephone", placeholder = "Fax" })
                        </div>
                    </div>

                    <div class="row form-group margin-top-20">
                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.Email, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Company.Email, new { @class = "form-control mandatory", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Company.Email)
                        </div>

                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.CellPhone, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Company.CellPhone, new { @class = "form-control mandatory Telephone", placeholder = "Cell Phone" })
                            @Html.ValidationMessageFor(m => m.Company.CellPhone)
                        </div>
                    </div>

                    <div class="row form-group margin-top-20">
                        <div class="col-md-2 textAlignRight">
                            @Html.Label("City", new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon">
                            @Html.DropDownListFor(m => m.Company.CityId, new SelectList(Model.Cities, "CityId", "CityName", Model.Company.CityId), "Select City", new { @class = "input-medium select2me mandatory", id = "CityId" })
                        </div>

                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.RefrenceCompanyId, new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 input-icon">
                            @Html.DropDownListFor(m => m.Company.RefrenceCompanyId, new SelectList(Model.CompaniesAndIndividuals, "CompanyId", "CompanyName", Model.Company.RefrenceCompanyId), "Select Refrence", new { @class = "input-medium select2me", id = "RefrenceCompanyId" })
                        </div>
                    </div>

                    <div class="row form-group margin-top-20">
                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.Website, new { @class = "control-label requiredLabel" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextBoxFor(m => m.Company.Website, new { @class = "form-control mandatory", placeholder = "Website" })
                            @Html.ValidationMessageFor(m => m.Company.Website)
                        </div>

                        <div class="col-md-2 textAlignRight">
                            @Html.LabelFor(m => m.Company.Notes, new { @class = "control-label" })
                        </div>
                        <div class="col-md-3 input-icon ">
                            <i class="fa fa-user"></i>
                            @Html.TextAreaFor(m => m.Company.Notes, new { @class = "form-control", placeholder = "Comments" })
                        </div>
                    </div>
                    <div class="CompanyRelatedInformation" style="display: none">
                        <h3 class="form-section">Financial Information</h3>
                        <div class="row form-group margin-top-20">
                            <div class="col-md-2 textAlignRight">
                                @Html.LabelFor(m => m.Company.LegalName, new { @class = "control-label requiredLabel" })
                            </div>
                            <div class="col-md-3 input-icon ">
                                <i class="fa fa-file-pdf-o"></i>
                                @Html.TextBoxFor(m => m.Company.LegalName, new { @class = "form-control mandatoryCompany", placeholder = "Legal Name" })
                            </div>
                        </div>
                        <div class="row form-group margin-top-20">
                            <div class="col-md-2 textAlignRight">
                                @Html.LabelFor(m => m.Company.VATOffice, new { @class = "control-label requiredLabel" })
                            </div>
                            <div class="col-md-3 input-icon ">
                                <i class="fa fa-file-text"></i>
                                @Html.TextBoxFor(m => m.Company.VATOffice, new { @class = "form-control mandatoryCompany", placeholder = "Tax District" })
                            </div>
                            <div class="col-md-2 textAlignRight">
                                @Html.LabelFor(m => m.Company.VATNumber, new { @class = "control-label requiredLabel" })
                            </div>
                            <div class="col-md-3 input-icon ">
                                <i class="fa fa-file-zip-o"></i>
                                @Html.TextBoxFor(m => m.Company.VATNumber, new { @class = "form-control mandatoryCompany", placeholder = "Tax Number" })
                            </div>
                        </div>

                        @*
                            <div class="row form-group margin-top-20">
                                <div class="col-md-2 textAlignRight">
                                    @Html.LabelFor(m => m.Company.SourceId, new { @class = "control-label requiredLabel" })
                                </div>
                                <div class="col-md-3 input-icon select2DDLParent">
                                    @Html.DropDownListFor(m => m.Company.SourceId, new SelectList(Model.Sources, "SourceId", "SourceName", Model.Company.SourceId), "Select Source", new { @class = "input-medium select2me mandatory", id = "SourceId" })
                                </div>
                            </div>

                            <div class="row form-group margin-top-20">
                                <div class="col-md-2 textAlignRight">
                                    @Html.Label("Account Holder", new { @class = "control-label" })
                                </div>
                                <div class="col-md-3 input-icon">
                                    @Html.DropDownListFor(m => m.Company.AccountHolderId, new SelectList(Model.Employees, "Id", "Name", Model.Company.AccountHolderId), "Select Employee", new { @class = "input-medium select2me", id = "AccountHolderId" })
                                </div>
                                <div class="col-md-2 textAlignRight">
                                    @Html.Label("Status", new { @class = "control-label" })
                                </div>
                                <div class="col-md-3 input-icon select2DDLParent">
                                    @Html.DropDownListFor(m => m.Company.StatusId, new SelectList(Model.CompanyStatuses, "Id", "Title", Model.Company.StatusId), "Select Status", new { @class = "input-medium select2me", id = "StatusId" })
                                </div>
                            </div>*@

                        <h3 class="form-section">Related Information</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabbable tabbable-custom boxless tabbable-reversed">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tabContacts" data-toggle="tab">
                                                Contacts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabNotes" data-toggle="tab">
                                                Notes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabInvoices" data-toggle="tab">
                                                Invoices
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabOrders" data-toggle="tab">
                                                Orders
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tabContacts">


                                            <div class="portlet box blue-hoki">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-phone-square"></i>Company Contacts
                                                    </div>
                                                    <div class="tools">
                                                        <a href="#ContactModal" data-toggle="modal" style="color: white !important; font-size: 16px; text-decoration: underline;">Add New Contact</a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive formMinHeight142_3Rows">
                                                        <table id="CompanyContacts" class="table table-striped table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>First Name</th>
                                                                    <th>Last Name</th>
                                                                    <th>Position</th>
                                                                    <th>Cell</th>
                                                                    <th>Email</th>
                                                                    <th>Contacy Type</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="CompanyContactsTableBody">
                                                                @if (Model.CompanyContacts.Any())
                                                                {
                                                                    for (int i = 0; i < Model.CompanyContacts.Count; i++)
                                                                    {
                                                                        <tr data-id="@i">
                                                                            @Html.HiddenFor(m => m.CompanyContacts[i].CompanyContactId)
                                                                            @Html.HiddenFor(m => m.CompanyContacts[i].CompanyId)
                                                                            <input name='CompanyContacts.Index' type='hidden' value=@i style='display: none' />
                                                                            <td style='display: none'></td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyContacts[i].FirstName)
                                                                                <span id="spanFirstName_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyContacts[i].FirstName)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyContacts[i].LastName)
                                                                                <span id="spanLastName_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyContacts[i].LastName)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyContacts[i].Position)
                                                                                <span id="spanPosition_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyContacts[i].Position)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyContacts[i].PhoneCell)
                                                                                <span id="spanPhoneCell_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyContacts[i].PhoneCell)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyContacts[i].Email)
                                                                                <span id="spanEmail_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyContacts[i].Email)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyContacts[i].ContactType)
                                                                                <span id="spanContactType_@i">
                                                                                    @{
                                                                                        contactType = Model.CompanyContacts[i].ContactType == "1" ? "Primary" : Model.CompanyContacts[i].ContactType == "0" ? "Secondary" : "";
                                                                                    }

                                                                                    @contactType
                                                                                </span>
                                                                            </td>
                                                                            <td><a href="javascript:;" class="editContact">Edit</a></td>
                                                                            <td><a href="javascript:;" class="deleteRow">X</a></td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            

                                        </div>
                                        <div class="tab-pane" id="tabNotes">
                                            
                                            <div class="portlet box blue-hoki">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-book"></i>Company Notes
                                                    </div>
                                                    <div class="tools">
                                                        <a href="#NotesModal" data-toggle="modal" style="color: white !important; font-size: 16px; text-decoration: underline;">Add New Note</a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive formMinHeight142_3Rows">
                                                        <table id="CompanyNotes" class="table table-striped table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Action Date</th>
                                                                    <th>Reminder Date</th>
                                                                    <th>Type</th>
                                                                    <th>Description</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="CompanyNotesTableBody">
                                                                @if (Model.CompanyNotes.Any())
                                                                {
                                                                    for (int i = 0; i < Model.CompanyNotes.Count(); i++)
                                                                    {
                                                                        <tr data-id="@i">
                                                                            @Html.HiddenFor(m => m.CompanyNotes[i].Id)
                                                                            @Html.HiddenFor(m => m.CompanyNotes[i].CompanyId)
                                                                            <input name='CompanyNotes.Index' type='hidden' value=@i style='display: none' />
                                                                            <td style='display: none'></td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyNotes[i].NotesDate)
                                                                                <span id="spanFirstName_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyNotes[i].NotesDate)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyNotes[i].ReminderDate)
                                                                                <span id="spanLastName_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyNotes[i].ReminderDate)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyNotes[i].NotesCategoryName)
                                                                                <span id="spanPosition_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyNotes[i].NotesCategoryName)
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(m => m.CompanyNotes[i].Description)
                                                                                <span id="spanPhoneCell_@i">
                                                                                    @Html.DisplayFor(m => m.CompanyNotes[i].Description)
                                                                                </span>
                                                                            </td>
                                                                            <td><a href="javascript:;" class="editContact">Edit</a></td>
                                                                            <td><a href="javascript:;" class="deleteRow">X</a></td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            

                                        </div>
                                        <div class="tab-pane" id="tabInvoices">
                                        </div>
                                        <div class="tab-pane" id="tabOrders">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
      

@Html.Partial("Modals/_CompanyContactModal")
@Html.Partial("Modals/_CompanyNotesModal",Model)
<link rel="stylesheet" type="text/css" href="~/Content/css/select2.css" />
<script type="text/javascript" src="~/Scripts/plugins/select2.js"></script>
<script src="~/Scripts/CompanyPage.js"></script>
<script>
    var hostURL = '@ConfigurationManager.AppSettings["HostURL"]';
   
    $(document).ready(function () {
        window.classToBeValidate = '@Model.Company.IsCompany' == 'True' ? "mandatoryCompany" : "mandatoryIndividual";

        DisplayRelatedFields('@Model.Company.IsCompany' == 'True' ? true : false);

                    var companyContactsTable = $('#CompanyContacts').dataTable({
                        "paging": false,
                        "iDisplayLength": 3,
                        "bFilter": false,
                        "bLengthChange": false,
                        "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [7,8],
                            "sortable": false
                        }]
                    });

                    var companyNotesTable = $('#CompanyNotes').dataTable({
                        "paging": false,
                        "iDisplayLength": 3,
                        "bFilter": false,
                        "bLengthChange": false,
                        "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [5,6],
                            "sortable": false
                        }]
                    });
                    //$('#CityId').select2({
                    //    allowClear: false
                    //});
                    @*$("#CityId").on('change', function () {
            LoadMuniciaplByCity();
        });
        if ('@cityIdSelected' > 0) {
            LoadMuniciaplByCity();
        }*@
    });    
</script>
