@model TMD.Web.Models.CurrencyModel
@{
    ViewBag.Title = "Manage Currency";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 10;
    Session["ParentMenu"] = 1;
}

@using (Html.BeginForm("CurrencyManage", "lookup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                @*<a href="javascript:;" class="collapse">
                    </a>*@

                <button type="submit" class="btn btn-circle blue" onclick="return(ValidateFields(event));">Save</button>
                <a href="~/Lookup/Currency">
                    <button type="button" class="btn btn-circle default">Cancel</button>
                </a>
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Create/Update Currency
            </div>
        </div>

        <div class="portlet-body form formMinHeight500">
            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CurrencyId)
                @Html.HiddenFor(m => m.RecCreatedBy)
                @Html.HiddenFor(m => m.RecCreatedDate)

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.CurrencyCode, new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.CurrencyCode, new { @class = "form-control input-circle mandatory", placeholder = "Currency Code" })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.CurrencySymbol, new { @class = "col-md-3 control-label requiredLabel" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.CurrencySymbol, new { @class = "form-control input-circle mandatory", placeholder = "Currency Symbol" })
                    </div>
                </div>
            </div>

        </div>
    </div>
}


