@model IEnumerable<TMD.Web.Models.CurrencyModel>
    @{
        ViewBag.Title = "Currencies";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        Session["MenuKey"] = 6;
        Session["ParentMenu"] = 1;
    }

    <div class="container-fluid">
        @*<header>
                <h3 class="page-title">
                    @ViewBag.Title
                </h3>

            </header>*@
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            Currencies
                        </div>

                        <div class="tools FilterToolBar">
                            @*<label>City</label>*@

                            <input type="button" class="btn blue titleButton " id="btnResetFltr" style="float:right" value="Reset">
                            <input type="button" class="btn green" id="btnFltr" style="float:right" value="Filter" />
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-actions">
                            <div>
                                <table class="responsive">
                                    <tr>
                                        <td class="col-md-1">
                                            <label class="control-label"> Search By</label>
                                        </td>
                                        <td class="col-md-2">
                                            <div class="input-icon">
                                                <i class="fa fa-search"></i>
                                                @Html.TextBox("Barcode", "", new { @class = "searchInputs form-control listFilter", @id = "SearchBox", @placeholder = "Code/Symbol" })
                                            </div>
                                        </td>
                                        <td class="col-md-4"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>There are @(Model.Count()) Currencies
                        </div>
                        <div class="tools">
                            <a href="~/Lookup/CurrencyManage" style="color:white !important; font-size: 16px; text-decoration: underline; ">Add New Currency</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive formMinHeight500">

                            <table id="dataTable" class="table table-striped table-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="display:none"></th>
                                        <th>Code</th>
                                        <th>Symbol</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="display:none">@item.CurrencyId</td>
                                            <td>@Html.ActionLink(@item.CurrencyCode, "CurrencyManage", new { id = item.CurrencyId }) </td>
                                            <td>@item.CurrencySymbol</td>
                                            <td class="textAlignRight">
                                                <a class="delete" href="javascript:;">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="form-horizontal">
            <div class="row-fluid">
                <div class="span12">
                    <div class="portlet box blue">

                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
         $(document).ready(function () {
             var oTable = $('#dataTable').dataTable({
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [3] }
           ],
                "bFilter": true,
                "bLengthChange": false,
            });

            $('#btnFltr').on('click', function (e) {

                var searchN = $('#SearchBox').val();
                oTable.fnFilter(searchN);
            });

            $('#btnResetFltr').on('click', function (e) {
                $('#SearchBox').val("");
                oTable.fnFilter('');
            });
            $('#dataTable').on('click', '.delete', function (e) {
                var serviceURL = "DeleteCurrency";
                e.preventDefault();

                if (confirm("Are you sure to delete this row ?") == false) {
                    return;
                }

                var nRow = $(this).parents('tr')[0];
                var aData = oTable.fnGetData(nRow);
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: "{id:" + aData[0] + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                    error: errorFunc
                });

                function successFunc(data, status) {
                    toastr.success(data.response);
                    var totalRcd = oTable.fnSettings().fnRecordsTotal() - 1,//as success deleted one row

                        displayLength = oTable.fnSettings()._iDisplayLength,
                        displayStart = oTable.fnSettings()._iDisplayStart;

                    oTable.fnDeleteRow(nRow, null, false);
                    var page = Math.ceil(displayStart / displayLength);

                    if (totalRcd > page * displayLength)
                        oTable.fnPageChange(page);
                    else
                        oTable.fnPageChange(page - 1);
                }

                function errorFunc(e, status) {
                    toastr.error(e.responseJSON.ErrorMessage);
                }


            });
        });
    </script>

    <style type="text/css">
        .dataTables_filter {
            display: none !important;
        }
    </style>
