@model TMD.Web.Models.SizeModel
@{
    ViewBag.Title = "Manage Size";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 12;
    Session["ParentMenu"] = 1;
}

@using (Html.BeginForm("SizeManage", "Lookup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                @*<a href="javascript:;" class="collapse">
                    </a>*@

                <button type="submit" class="btn blue" onclick="return(ValidateFields(event));">Save</button>
                <a href="~/Lookup/Size">
                    <button type="button" class="btn default">Cancel</button>
                </a>
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Create/Update Size
            </div>
        </div>

        <div class="portlet-body form formMinHeight500">
            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.SizeId)
                @Html.HiddenFor(m => m.RecCreatedBy)
                @Html.HiddenFor(m => m.RecCreatedDate)

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.SizeTitle, "Size Title (10 digits)", new { @class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.SizeTitle, new { @class = "form-control input-circle mandatory", placeholder = "Size Title", @maxlength = 10 })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.SizeValue, "Size Value  (50 digits)", new { @class = "col-md-3 control-label requiredLabel"})
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.SizeValue, new { @class = "form-control input-circle mandatory", placeholder = "Size Value", @maxlength = 50 })
                    </div>
                </div>

                <div class="form-group margin-top-20">
                    @Html.LabelFor(m => m.SizeDescription, new { @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.SizeDescription, new { @class = "form-control input-circle", placeholder = "Size Description" })
                    </div>
                </div>
            </div>

        </div>
    </div>
}


